<p>这里是一只moycat留下的注释。</p>

<h1>我，Moycat</h1>

<p>生长在这天朝南方的最北边，西部的最东边。</p>

<p>这里总是夜雨霏霏，但我不像末影人那样怕水。</p>

<p>看似一只野生的伪全栈，但实际上是只萎靡的蒟蒻。</p>

<p>啥都会一点，但啥都搞不好。</p>

<p>信仰存在主义与不可知论，心里的理想世界永远也不会实现。</p>

<p>……融入了我的身体，成为了我的器官，每时每刻都伴我左右。</p>

<p>但又只有在寂寥之时才会有所察觉，就像狗的尾巴，猫的胡须。</p>

&nbsp;

<p>人生没有路口，人生之路是一片荒芜的宇宙。</p>

<h1>搞过的事</h1>

<blockquote>为了保护水表，此处略去有那么多字。</blockquote>

<h1>联系</h1>

<p> - 回复我的博客</p>

<p> - 用一切方法调查我的信息</p>

<p> - 调用<a href="/tags.html#%E7%8C%AB">另一只moycat</a></p>

<p> - 来<a href="https://github.com/moycat" target="_blank" rel="noopener">我的GitHub页面</a></p>
